<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Photolog::{% block title %}{% endblock %}</title>

        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.1/css/fileinput.min.css" type="text/css" media="screen" title="photolog" charset="UTF-8" />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" type="text/css" media="screen" title="photolog" charset="UTF-8" />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css') }}" type="text/css" media="screen" title="photolog" charset="UTF-8" />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/jasny-fileinput.css') }}" type="text/css" media="screen" title="photolog" charset="UTF-8" />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" type="text/css" media="screen" title="photolog" charset="UTF-8" />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/placeholder-error.css') }}" type="text/css" media="screen" title="photolog" charset="UTF-8" />

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/bootbox.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/jasny-fileinput.js') }}"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/gmaps.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/exif.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/binaryajax.js') }}"></script>  
        {% block head %}{% endblock %}
    </head>
    <body width="100%">
        <nav class="navbar navbar-inverse navbar-static-top"
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-contrls="navbar">
                    <span class="sr-only"
                </div>
            </div>
        </nav>
        
    </body>
</html>