{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
    {% from "_formhelpers.html" import render_field %}
    <!-- login-form -->
    <div id="login-form" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="display: show; overflow:auto;">
        <!-- modal dialog -->
        <div class="modal-dialog" style="vertical-align: middle;">
            <form name="frm" class="form col-md-8 center-block" method="POST" action="{{ url_for('photolog.login') }}" accept-charset="UTF-8" onSubmit="return checkLogin(this)">
                <!-- modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><i class="fa fa-user"></i> 로그인하기</h4>
                        {% if error %}
                        <div class="alert alert-error">
                            <a class="close" data-dismiss="alert" href="#">×</a>{{ error }}
                        </div>
                        {% endif %}
                        {% if regist_username %}
                        <div class="alert alert-success">
                            <a class="close" data-dismiss="alert" href="#">×</a>
                            {{ regist_username }}님의 가입을 환영합니다!
                        </div>
                        {% elif update_username %}
                        <div class="alert alert-info">
                            <a class="close" data-dismiss="alert" href="#">×</a>
                            {{ update_username }}님의 정보가 변경되었습니다.
                        </div>
                        {% endif %}
                    </div>
                    <!-- modal-body -->
                    <div class="modal-body">
                        <div class="form-group">
                            {{ render_field(form.username, class="form-control",placeholder="Username", autofocus=true) }}
                        </div>
                        <div class="form-group">
                            {{ render_field(form.password, class="form-control", placeholder="Password") }}
                        </div>
                        <div class="form-group">
                            {{ render_field(form.next_url, value=next_url) }}
                        </div>
                        <div class="form-group checkbox">
                            <label>
                                <input type="checkbox" name="remember" value="1" onClick="confirmSave(this)"> ID 기억하기
                            </label>
                        </div>
                    </div>
                    <!-- modal-body -->
                    <div class="modal-footer">
                        <button type="submit" name="submit" class="btn btn-info">로그인</button>
                        <a href="{{ url_for('photolog.register_user_form') }}" class="btn btn-success">가입하기</a>
                    </div>
                </div>
                <!-- modal content -->
            </form>
        </div>
        <!-- modal dialog -->
    </div>
    <!-- login-form -->
